@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');

:root {
  --text-color-title: #212121;
  --text-color-body: #757575;
  --text-active: #2196f3;
  --text-align: center;
  --font-family: 'Roboto', sans-serif;
  --font-size-sm: 14px;
  --font-size-md: 16px;
  --letter-spacing: 0.03em;
}

body {
  color: var(--text-color-title);
  font-family: var(--font-family);
}

h1 {
  color: #ffffff;
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

h2,
h3,
p {
  letter-spacing: var(--letter-spacing);
}

h2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
}

ul {
  list-style-type: none;
}

/* Logo */

.logo-web,
.logo-studio {
  font-size: 26px;
  font-weight: 700;
  line-height: 31px;
  letter-spacing: var(--letter-spacing);
}

.logo-web {
  color: #2196f3;
}

.global-header .logo-studio {
  color: #000000;
}

.global-footer .logo-studio {
  color: #ffffff;
}

/* Global Header */

.global-header {
  background: #ffffff;
  font-size: var(--font-size-sm);
}

.global-header ul,
.global-header nav + span {
  font-weight: 500;
}

.global-header a,
.global-header a:visited {
  color: var(--text-color-title);
  text-decoration: none;
}

.global-header a:hover,
.global-header a.active {
  color: var(--text-active);
}

/* Sections */

.title-section {
  background-color: #2f303a;
  text-align: var(--text-align);
}

.request-service-btn {
  border: none;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  background-color: #2196f3;
  color: #ffffff;
  cursor: pointer;
  font-weight: 700;
  font-size: var(--font-size-md);
  line-height: 30px;
  letter-spacing: 0.06em;
}

.advantages-section {
  background-color: #ffffff;
  font-size: var(--font-size-sm);
}

.advantages-section h3 {
  font-weight: 700;
  text-transform: uppercase;
}

.advantages-section p {
  color: var(--text-color-body);
  line-height: 24px;
}

.work-section {
  background-color: #ffffff;
  text-align: var(--text-align);
}

.team-section {
  background-color: #f5f4fa;
  font-size: var(--font-size-md);
  text-align: var(--text-align);
}

.team-section h3 {
  font-weight: 500;
  line-height: 19px;
}

.team-section p {
  color: var(--text-color-body);
  line-height: 19px;
}

/* Global footer */

.global-footer {
  background-color: #2f303a;
}

.global-footer address {
  font-size: var(--font-size-sm);
  font-style: normal;
  letter-spacing: var(--letter-spacing);
}

.global-footer p {
  color: #ffffff;
}

.global-footer a {
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
}

.global-footer a:hover,
.global-footer a:focus {
  color: var(--text-active);
}
